<div class="border-solid border-primary-500 p-1 -m-1 border-1">


<form [formGroup]="myForm"
  autocomplete="off"
  (ngSubmit)="onSave()"
  class="mx-auto mt-0 p-d-flex p-flex-column p-ai-center p-jc-center p-mx-auto p-p-3 p-shadow-2
        p-border-round-lg"
  style="max-width: 600px; width: 100%;">

  <ion-input class="p-mb-2 p-w-full font-medium text-black-alpha-80"
    formControlName="fecha"
    label="Fecha"
    label-placement="floating"
    fill="solid"
    type="date">
  </ion-input>

  <!-- empresa -->
  <ion-select class="p-mb-2 p-w-full font-medium text-black-alpha-80"
    formControlName="empresa"
    label="Empresa"
    label-placement="floating"
    fill="solid"
    (ionChange)="onEmpresaChange($event)"
    interface="popover">

    <ion-select-option [value]="item"
        *ngFor="let item of empresas">
        {{item.descripcion}}
    </ion-select-option>
  </ion-select>

  <!-- area -->
  <ion-select class="p-mb-2 p-w-full  font-medium text-black-alpha-80"
    formControlName="area"
    label="Área"
    label-placement="floating"
    fill="solid"
    interface="popover">

    <ion-select-option [value]="item"
        *ngFor="let item of areas">
        {{item.descripcion}}
    </ion-select-option>
  </ion-select>

  <!-- estado -->
  <ion-select class="p-mb-2 p-w-full mb-2 font-medium text-black-alpha-80"
    formControlName="estado"
    label="Estado"
    label-placement="floating"
    fill="solid"
    interface="popover">

    <ion-select-option [value]="item"
        *ngFor="let item of estados">
        {{item.descripcion}}
    </ion-select-option>
  </ion-select>

  <!-- Operadores -->
  <ion-label class="p-mb-2 p-w-full mt-2 font-medium text-black-alpha-80 pl-3">
    Operador
  </ion-label>
  <ion-searchbar class="p-mb-2 p-w-full font-bold text-black-alpha-80"
                formControlName="solicita"
                #searchbarOpe
                placeholder="Operador"
                (ionChange)="onSearchbarChange($event, 'operador', true)"
                [debounce]="1000"
                (onfocus)="onSearchFocus()"
                (ionInput)="handleInputOperador($event)"
                (keydown)="handleKeydownF9Operador($event)"
                >
  </ion-searchbar>

  <ion-list  *ngFor="let result of buscarOper">
    <ion-item *ngIf="!showResults; hidden"
      (click)="selectItem(result, searchbarOpe, true)">

      <ion-label class="text-primary-600 font-semibold cursor-pointer">
        {{ result.descripcion }}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Responsables -->
  <ion-label class="p-mb-2 p-w-full font-medium text-black-alpha-80 pl-3">
    Responsable
  </ion-label>
  <ion-searchbar class="p-mb-2 p-w-full font-medium text-black-alpha-80"
                formControlName="responsable"
                #searchbarRespo
                placeholder="Responsable"
                (ionChange)="onSearchbarChange($event, 'responsable', false)"
                [debounce]="1000"
                (onfocus)="onSearchFocus()"
                (ionInput)="handleInputRespo($event)"
                (keydown)="handleKeydownF9Responsable($event)">
  </ion-searchbar>

  <ion-list *ngFor="let result of buscarResp">
    <ion-item *ngIf="!showResults; hidden"
      (click)="selectItem(result, searchbarRespo, false)">

      <ion-label class="text-primary-600 font-semibold cursor-pointer">
        {{ result.descripcion }}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- titulo -->
  <ion-input class="p-mb-2 p-w-full font-medium text-black-alpha-80"
    formControlName="titulo"
    label="Título"
    label-placement="floating"
    fill="solid"
    placeholder="Título del helpdesk">
  </ion-input>

  <!-- reclamo  -->
  <ion-textarea class="p-mb-2 p-w-full font-medium text-black-alpha-80 h-8rem p-h-full"
    formControlName="textoreclamo"
    label="Reclamo"
    labelPlacement="floating"
    fill="solid"
    placeholder="Ingrese el requerimiento"
    style="overflow-y: auto;"
    [autoGrow]="true">
  </ion-textarea>

  <!-- urgente -->
  <div class="p-d-flex p-ai-center p-jc-between p-w-full pl-3">
    <ion-checkbox class="p-mb-2 mr-1 mt-2 font-medium text-black-alpha-80"
      formControlName="urgente"
      labelPlacement="end">
      Urgente
    </ion-checkbox>

    <!-- enviar -->
    <div class="flex justify-content-end mt-0">
      <ion-button  id="open-loading"
        *ngIf="!ticketRecibido ; hidden"
        type="submit"
        color="primary">
        Enviar
      </ion-button>
      <ion-loading *ngIf="isLoading"
        message="Enviando Ticket...!">
      </ion-loading>
    </div>
  </div>

</form>

<!-- Botones de edición -->
<div class="flex justify-content-end mt-0">
  <ion-button  *ngIf="botonVisible; hidden"
    type="click"
    color="primary"
    (click)="onUpdate()">
    Grabar
  </ion-button>

  <ion-button *ngIf="botonVisible; hidden"
    type="click"
    color="primary"
    (click)="goBack()">
    Volver
  </ion-button>
</div>

</div>
