<ion-content class="ion-padding sm: min-w-max">
  <div class="flex justify-content-end sm: mr-0 justify-content-center md: mr-0 h-3rem">
      <!-- empresa -->
      <ion-select class="font-medium text-black-alpha-80 ml-2"
        label="Empresa"
        label-placement="floating"
        fill="solid"
        interface="popover">

      <ion-select-option [value]="item"
          *ngFor="let item of empresas">
          {{item.descripcion}}
      </ion-select-option>
    </ion-select>

    <!-- area -->
    <ion-select class="font-medium text-black-alpha-80 ml-2"
      label="Área"
      label-placement="floating"
      fill="solid"
      interface="popover">

      <ion-select-option [value]="item"
          *ngFor="let item of areas">
          {{item.descripcion}}
      </ion-select-option>
    </ion-select>

    <ion-button
      class="button-actualizar ml-5"
      slot="end"
      (click)="getActualiza()"
      color="primary"
      size="small">
      <ion-icon class="pr-1" name="refresh"></ion-icon>
      Actualizar
    </ion-button>
  </div>

  <div class="table-container p-3 col-12">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="p-text-center">Fecha</th>
          <th class="p-text-center">Título</th>
          <th class="p-text-center">Reclamo</th>
          <th class="p-text-center">Operador</th>
          <th class="p-text-center">Área</th>
          <th class="p-text-center">Responsable</th>
          <th class="p-text-center">Atiende</th>
          <th class="p-text-center">Empresa</th>
          <th class="p-text-center">Estado</th>
          <th class="p-text-center">Urgencia</th>
          <th class="p-text-center">Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tickets"
            [class.selected]="item === selectedTicket"
            (click)="selectRow(item)">
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.fecha }}</td>
          <td class="text-base font-medium select-none p-text-center truncate">{{ item.titulo }}</td>
          <td class="text-base font-medium text-overflow-ellipsis select-none p-text-center truncate">{{ item.textoreclamo }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.solicita.descripcion }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.area.descripcion }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.responsable.descripcion }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.userid_atiende }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.empresa.descripcion }}</td>
          <td class="text-base font-medium select-none status p-text-center nowrap">{{ item.estado?.descripcion }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">{{ item.urgente }}</td>
          <td class="text-base font-medium select-none p-text-center nowrap">
            <ion-button (click)="getTicket(item, item.codigoppal)" color="primary" size="small">
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
