<ion-content class="ion-padding">
  <div class="table-container p-3 col-12">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="p-text-center">Fecha</th>
          <th class="p-text-center">Título</th>
          <th class="p-text-center">Reclamo</th>
          <th class="p-text-center">Operador</th>
          <th class="p-text-center">Área</th>
          <th class="p-text-center">Responsable</th>
          <th class="p-text-center">Atiende</th>
          <th class="p-text-center">Empresa</th>
          <th class="p-text-center">Estado</th>
          <th class="p-text-center">Urgencia</th>
          <th class="p-text-center">ir al detalle</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tickets">
          <td class="p-text-center w-auto">{{ item.fecha }}</td>
          <td class="p-text-center w-auto">{{ item.titulo }}</td>
          <td class="p-text-center w-auto">{{ item.textoreclamo }}</td>
          <td class="p-text-center w-auto">{{ item.nombreoperador }}</td>
          <td class="p-text-center w-auto">{{ item.area }}</td>
          <td class="p-text-center w-auto">{{ item.responsable }}</td>
          <td class="p-text-center w-auto">{{ item.userid_atiende }}</td>
          <td class="p-text-center w-auto">{{ item.empresa }}</td>
          <td class="status p-text-center w-auto">{{ item.estado }}</td>
          <td class="p-text-center w-auto">{{ item.urgente }}</td>

          <td class="p-text-center w-auto">
            <ion-button (click)="getTicket(item.codigoppal)" color="primary">Detalle</ion-button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
