<ion-header>
  <ion-toolbar>
    <ion-title>Helpdesk HE</ion-title>
  </ion-toolbar>
</ion-header>

<div class="field grid my-auto mx-auto">
  <div class="col-12 md:col-12 lg:col-12">
    <ion-button
      size="large"
      expand="block"
      [routerLink]="['/tabs/tab1']">
      Crear Helpdesk
    </ion-button>
  </div>
  <div class="col-12 md:col-12 lg:col-12">
    <ion-button
      size="large"
      expand="block"
      [routerLink]="['/tabs/tab2']">
      Requerimientos
    </ion-button>
  </div>
</div>

