<!-- <div class="flex flex-column align-items-center justify-content-center min-h-screen w-full p-8 mx-auto" style="max-width: 600px; width: 100%;">
  <div class="bg-primary-100 w-full p-2"style="max-width: 600px; width: 100%;">
    <div class="w-full bg-primary-600 font-bold flex align-items-center justify-content-center p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="flex flex-column align-items-center justify-content-center min-h-screen w-full p-8 mx-auto" style="max-width: 600px; width: 100%;">
  <div class="bg-bluegray-200 w-full p-1"style="max-width: 600px; width: 100%;">
    <div class="w-full bg-primary-600 font-bold flex align-items-center justify-content-center p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


